@page
@model Improbability.Areas.Identity.Pages.Account.Manage.ApiKeyModel
@{
    ViewData["Title"] = "Manage Api-key";
    ViewData["ActivePage"] = ManageNavPages.ApiKey;
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <partial name="_StatusMessage" model="Model.StatusMessage" />
        <form id="api-key-form" method="post">
            <div class="form-group">
                <label asp-for="ApiKey"></label>
                <input asp-for="ApiKey" class="form-control" readonly />
            </div>
            <button id="update-api-key-button" type="submit" class="btn btn-primary">Change Api-key</button>
        </form>
    </div>
</div>
