@page
@model Improbability.Pages.RandomItemDiagramsModel

@{
    ViewData["Title"] = "RandomEvent Statistics";
}

<h1>RandomEvent Statistics</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationUser.ApiKey" class="control-label"></label>
                <input
                    id="apiKey"
                    asp-for="ApplicationUser.ApiKey"
                    class="form-control"
                    value="5RE23H4JHQA2DVLVSEZ525UCRLWXUKGQ"/>
                <span asp-validation-for="ApplicationUser.ApiKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RandomEvent.RandomItemId" class="control-label"></label>
                <input id="randomItemId" asp-for="RandomEvent.RandomItemId" class="form-control" value="1"/>
                <span asp-validation-for="RandomEvent.RandomItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="show-statistic" type="button" value="Show statistics" class="btn btn-primary"/>
            </div>
        </form>
        @Html.AntiForgeryToken()
    </div>
</div>
<div id="histogram_div"></div>
<div id="scatterChart_div"></div>
<div>Minimum: <span id="minimum"></span></div>
<div>Maximum: <span id="maximum"></span></div>
<div>Average: <span id="average"></span></div>
<div>
    Expected average:
    <ul>
        <li>With smallest possible result zero: <span id="expected-avg-start0"></span></li>
        <li>With smallest possible result one: <span id="expected-avg-start1"></span></li>
    </ul>
</div>
<div>Median: <span id="median"></span></div>
<div>Standard deviation: <span id="standard-deviation"></span></div>

<div>
    <a asp-page="Index">Back to Home</a>
</div>

<script src="https://www.gstatic.com/charts/loader.js"></script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
